<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white" >
        <div class="p-10">
            <a href="/" class="text-blue-500 inline-block mb-10 ">Go back Home</a>
            <h1 class="text-3xl text-white mt-2 "><%= filename %></h1>
            <p class="text-white text-2xl mt-5 font-light"><%= filedata %></p>
        </div>
    </div>
</body>
</html>