*{
    margin : 0 ;
    padding : 0 ;
    box-sizing : border-box ;
}

.container {
    width: 100vw; 
    height: 100vh; 
    overflow-x: none;
}

.navContainer {
    width: 100vw;
    background-color: #FFD700;
    min-height: 80px;
}

#navList {
    list-style-type: none ;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px ;
    align-items: center;
}

#navLogo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    text-decoration: none;    
}
